[Desktop Entry]
Encoding=UTF-8
Name=Popup Launcher
Comment=A custom application launcher that opens a popup when placed in a panel
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Daniel Faust
X-KDE-PluginInfo-Email=hessijames@gmail.com
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-Name=org.kde.popupLauncher
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=https://github.com/hessijames/plasma-applet-popup-launcher
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Application Launchers
Icon=system-run
